USE [Athens_Shoes]
GO
/****** Object:  Table [dbo].[brands]    Script Date: 3/4/2016 3:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[brands](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[stores]    Script Date: 3/4/2016 3:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[stores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[stores_brands]    Script Date: 3/4/2016 3:44:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stores_brands](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[store_id] [int] NULL,
	[brand_id] [int] NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[stores_brands] ON 

INSERT [dbo].[stores_brands] ([id], [store_id], [brand_id]) VALUES (1, 1, 3)
INSERT [dbo].[stores_brands] ([id], [store_id], [brand_id]) VALUES (2, 15, 5)
INSERT [dbo].[stores_brands] ([id], [store_id], [brand_id]) VALUES (3, 18, 6)
SET IDENTITY_INSERT [dbo].[stores_brands] OFF
