<h1> Brands </h1>

<ul>
@{ if (Model.Count != null) {
  @foreach (var brands in Model) {
     <li><a href="/brand/@brands.GetId()">@brands.GetName()</a></li>
    }
  }
}
</ul>

<a href="/"> Go Back</a>
<a href="/brands/ClearAll">By clicking this button you recognize that branding is an attempt to placate the masses. The revolution shall be brought through peace and discourse.</a>
